@import 'flex';

.homepage {
  font-size: 2em;
  padding: .5em;

  .profit-row {
    padding: .5em 0 1em 0;
    border-bottom: 3px solid black;
  }

  .account-row {
    padding: .5em 0;

    .sub-row {
      text-align: right;
      font-size: .5em;
    }
  }
}

.positive {
  color: green;
}

.negative {
  color: red;
}